body {
  margin: 0;
  font-family: 'DM Serif Display', serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

code {
  font-family: 'DM Serif Display', serif; 
}
