.driver_page {
  display: flex;
  width: 2000px;
  background-color: white;
  font-weight: bold;
  align-items: flex-start;
  justify-content: center;
}

.cluster_modal {
  display: flex;
  color: blue;
  flex-direction: column;
  background-color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: auto;
}

.my_div {
  width: 97%;
  height: 34px;
  display: flex;
}

.my_cluster {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #0f0e0e;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
}

.my_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.welcome_btn {
  width: 25%;
}

.my_btn {
  /* padding: 2px; */
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 8px 0 rgba(82, 81, 81, 0.9),
    0 4px 8px 0 rgba(83, 83, 83, 0.9);
}

.my_card {
  position: relative;
  z-index: 1000;
  display: flex;
  background-color: #f8f7f7;
  font-size: 0.75em;
  height: 35px;
  width: 100%;
}

.my_card_abb {
  position: relative;
  top: 0;
  left: 1;
  font: size 0.75em;
}

.my_card_body {
  padding: 1px;
}

.card_status {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px !important;
  height: 12px !important;
}

.card_header {
  background-color: #f8f7f7;
  border: none;
  padding: 0px;
  font-size: 8px;
}

.card_footer {
  color: red;
  font-weight: bold;
  border: none;
  font-size: 10px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.del_div {
  color: red;
  margin-right: 1px; 
  width: 35px;
  height: 16px;
}

.abbreviation_div {
  background-color: rgba(0, 0, 255, 0.734);
  color: white;
  margin-right: 1px;
  width: 35px;
  height: 16px;
}

.abbreviation_div:hover {
  cursor: pointer;
}

.card_row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card_col_abbrev {
  max-width: 20%;
}

.card_col_body{
  width: 75%;
  margin-left: 1px;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.card_col_body {
  cursor: pointer;
}


.del_div:hover {
  cursor: pointer;
}

.card_outcome {
  background-color: #e6e6e6;
  color: rgb(0, 0, 0);
  font-weight: normal;
}

textarea { resize: none; }

.my_card_text {
  background-color: #f8f7f7;
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-wrap: normal;
  padding: 0px;
  margin: 0px;
  font-size: 9px;
  text-align: center;
  border: none;
}

.my_card_text:hover {
  cursor: pointer;
}

.card_title {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.card_trash {
  width: auto !important;
  height: auto !important;
}

.outcome {
  display: flex;
  flex: row;
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: normal;
  justify-content: flex-start;
  align-items: flex-start;
}

.driver {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: normal;
  justify-content: flex-start;
  align-items: center;
}


@media (max-width: 768px) {
  .rowstyle {
    display: flex;
    flex-direction: row !important;
  }
}
