.abbreviation_div {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  background-color: rgba(0, 0, 255, 0.734);
  color: white;
  width: 35px;
  height: 16px;
}

.abbreviation_div:hover {
  cursor: pointer;
}

.abbreviation_input {
  height: 15px;
  font-size: 10px;
  width: 35px;
  background-color: rgba(0,0,255,0.734);
  color: white;
  text-align: left;
  padding: 1px;
}

.abbreviation_input:disabled {
  background-color: rgba(0,0,255,0.734);
  color: white;
}

.card_arrow:hover {
  cursor: pointer;
}

.card_arrow {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 12px !important;
  height: 12px !important;
  z-index: 100;
}

.card_body {
  padding: 0px;
}

.card_flag:hover {
  cursor: pointer;
}

.card_flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px !important;
  height: 18px !important;
  z-index: 100;
}

.card_row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card_col_abbrev {
  max-width: 20%;
}

.card_col_body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

}

.card_status {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px !important;
  height: 12px !important;
}

.cluster_modal {
  display: flex;
  color: blue;
  flex-direction: column;
  background-color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: auto;
}

.copyright_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 25%;
  height: 100%;
}

.del_div {
  position: absolute;
  bottom: 0;
  left: 0;
  color: red;
  width: 35px;
  height: 16px;
}

.del_div:hover {
  cursor: pointer;
}

.details {
  position: absolute;
  bottom: 0px;
  left: 45px;
  font-style: italic;
  font-size: 7px;
  width: 50px;
  z-index: 1000;
}

.details:hover {
  cursor: pointer;
}


.dtree_icon {
  position: absolute;
  bottom: 0px;
  left: 75px;
  font-style: italic;
  width: 50px;
  z-index: 1000; 
}

.dtree_icon:hover {
  cursor: pointer;
}

.driver {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-weight: normal;
  align-items: center;
  justify-content: center;
  /* margin: 20px; */
  /* padding: 10px; */
  min-width: 175px;
}

.driver_page {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: auto; 
}

.dtree_btn {
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(53, 53, 53);
  transition: transform 0.3s ease;
}

.dtree_btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  size: 105%;
  box-shadow: 0 4px 8px 0 rgba(1, 26, 250);
}

.my_btn {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgb(59, 46, 241);
}
.my_card {
  z-index: 1000;
  display: flex;
  background-color: #f8f7f7;
  font-size: 0.55em;
  height: 35px;
  max-width: 180px;
  width: 99%;

}

.my_card:hover {
  transform: scale(1.05);
  cursor: pointer;
  size: 105%;
}

.my_card_abb {
  position: absolute;
  top: 0;
  left: 0;
  font: size 0.75em;
}

.my_card_body {
  padding: 1px;
}

.my_card_text {
  background-color: #f8f7f7;
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-wrap: wrap;
  padding: 0px;
  margin: 0px;
  font-size: 7px;
  text-align: center;
  border: none;
  z-index: 500;
  width: 55%;
  height: 50%;
  position: absolute;
  left: 38px;
  top: 1px;
}



.my_card_text:hover {
  cursor: pointer;
}

.my_card_text_pdf {
  background-color: #f8f7f7;
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-wrap: wrap;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  text-align: center;
  border: none;
  z-index: 500;
  width: 55%;
  height: 50%;
  position: absolute;
  left: 38px;
  top: 1px;
}

.my_cluster {
  width: 98%;
  padding: 0px !important;
  max-width: 225px;
  display: flex;
  opacity: 1;
  background-color: #f8f7f7;
  flex-direction: column;
  border: 1px solid #0f0e0e;
  align-items: center;
  align-content: center;
  margin-top: 3px;
  margin-bottom: 3px;
  z-index: 50;
}

.my_cluster_name {
text-align: center;
font-size: 10px;
width: 90%;
}

.my_col {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.my_div {
  max-width: 250px;
  padding: 0px !important;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.my_row {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.outcome_card {
  z-index: 1000;
  display: flex;
  background-color: #f8f7f7;
  font-size: 0.75em;
  padding: 0px;
  height: 45px;
  max-width: 190px;
  width: 96%;
}

.pdf_export {
  display: flex;
  /* height: 100% !important; */
}

.welcome_btn {
  width: 25%;
}

.red_status {
  background-color: rgb(255, 2, 2);
  position: absolute;
  color: rgb(255, 2, 2);
  border-radius: 10px;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 0px;
  text-align: center;
}

.yellow_status {
  background-color: rgb(251, 255, 2);
  position: absolute;
  color: rgb(251, 255, 2);
  top: 0;
  right: 0;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 0px;
  text-align: center;
}

.green_status {
  background-color: rgb(44, 255, 2);
  position: absolute;
  color: rgb(44, 255, 2);
  text-align: start;
  top: 0;
  right: 0;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 0px;
  /* font-size: 150%; */
  text-align: top;
}

.blue_status {
  background-color: blue;
  position: absolute;
  color: blue;
  top: 0;
  right: 0;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding:0px;
  text-align: center;
}

.slidecontainer {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

}

.slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.outer_div {
  display: flex;
  flex-direction: column;
/* max-width: 1250px; */
}

.top_div {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  /* max-width: 1400px; */
  overflow-y: scroll;
  /* overflow-x: hidden; */
}

.view_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.view_div {
  position: absolute;
  bottom: 0;
  right: 12px;
  width: 15px !important;
  height: 15px !important;
  z-index: 100;
}

.view_div:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .rowstyle {
    display: flex;
    flex-direction: row !important;
  }
}
