.driver_page {
   background-color: white;
   font-weight: bold;
   align-items: center;
   justify-content: center;
}

.my_row {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;

}

.abbrev_row{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   align-items: center;
}
.my_col {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: left;
   align-items: top;
   border: 1px solid black;
   height: 40vh;
}

.my_text_area {
   display: list-item;
   outline: none;
 }
 
 .my_text_area div {
   display: list-item;
 }

.arrows {
   margin: 10px;
}

.arrows:hover {
   background-color: rgb(102, 102, 109);
}

.welcome-btn {
   width: 25%;

}  

.quad_format {
   display: flex;
   flex-direction: row;
   /* flex-wrap: wrap; */
   width: 100%;
   height: 40vh;
   justify-content:  left;
   align-items: top;
   border: 1px solid black;
}

.my_form {
   background-color: white;
}

.my_btn {
   /* padding: 2px; */
   width: 40px;
   height: 40px;
   box-shadow: 0 4px 8px 0 rgba(82, 81, 81, 0.9), 0 4px 8px 0 rgba(83, 83, 83, 0.9);
}  

.card {
   background-color: #ded8d8;
   color: rgb(0, 0, 0);
   font-size: 10px;
   margin: 10px;
   height: 100px;
}

.card_title {
   color: rgb(10, 24, 229);
   font-size: 10px;
}

.outcome {
   display: flex;
   background-color: white;
   color: rgb(0, 0, 0);
   font-weight: normal;
   justify-content: center;
   align-items: center;
}

.driver {
   display: flex;
   flex-direction: column;
   background-color:white;
   color: rgb(0, 0, 0);
   font-weight: normal;
   justify-content: center;
   align-items: center;
   /* text-align: center; */
}

.card-outcome {
   background-color: #e6e6e6;
   color: rgb(0, 0, 0);
   font-weight: normal;
}

.card-title {
   color: rgb(0, 0, 0);
   font-weight: bold;
}

.background_label {
   width: 150px;
}

.background_text {
   width: 100%;
   height: 225px;
}

.status_label {
width: 100px;
margin-left: 100px;
}

.red_status {
   background-color: rgb(255, 2, 2);
   width: 50px;
   height: 30px;
   padding:0px;
   text-align: center;
}

.yellow_status {
   background-color: rgb(251, 255, 2);
   width: 50px;
   height: 30px;
   padding:0px;
   text-align: center;
}

.green_status {
   background-color: rgb(44, 255, 2);
   width: 50px;
   height: 30px;
   padding:0px;
   text-align: center;
}

@media (max-width: 768px){
   .rowstyle {
       display: flex;
       flex-direction: row !important;
   }
}
