.driver_page {
   background-color: white;
   font-weight: bold;
   align-items: center;
   justify-content: center;
}

.Row {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 90%;
   justify-content: center;
   align-items: center;
   margin: .25rem;
   min-height: 10vh;
}
  
.welcome-btn {
   width: 25%;

}  

.my_btn {
   /* padding: 2px; */
   width: 40px;
   height: 40px;
   box-shadow: 0 4px 8px 0 rgba(82, 81, 81, 0.9), 0 4px 8px 0 rgba(83, 83, 83, 0.9);
}  

.card {
   background-color: #ded8d8;
   color: rgb(0, 0, 0);
   font-size: .75em;
   margin: 5px;
   height: 125px;
}

.card_title {
   color: rgb(10, 24, 229);
   font-size: 10px;
}

.card_outcome {
   background-color: #e6e6e6;
   color: rgb(0, 0, 0);
   font-weight: normal;
}

.card_title {
   color: rgb(0, 0, 0);
   font-weight: bold;
}

.outcome {
   display: flex;
   background-color: white;
   color: rgb(0, 0, 0);
   font-weight: normal;
   justify-content: center;
   align-items: center;
}

.driver {
   display: flex;
   flex-direction: column;
   background-color:white;
   color: rgb(0, 0, 0);
   font-weight: normal;
   justify-content: center;
   align-items: center;
   /* text-align: center; */
}


@media (max-width: 768px){
   .rowstyle {
       display: flex;
       flex-direction: row !important;
   }
}
