.abbrev_row{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: center;
   align-items: center;
}

.arrows {
   margin: 10px;
}

.arrows:hover {
   background-color: rgb(102, 102, 109);
}

.background_label {
   width: 150px;
}

.background_text {
   width: 100%;
   height: 400px;
}

.btn_col {
   display: flex;
   width: 500px;
   justify-content: flex-start;
   align-items: flex-start;
   height: 100%;
}

.copyright {
   display: flex;
   justify-content: flex-end;
}

.driver {
   display: flex;
   flex-direction: column;
   background-color:white;
   color: rgb(0, 0, 0);
   font-weight: normal;
   justify-content: center;
   align-items: center;
}

.driver_page {
   display: flex;
   background-color: white;
   font-weight: bold;
   font-size: 1rem;
   align-items: center;
   justify-content: center;
   justify-items: center;
}

.my_btn {
   align-items: center;
   justify-content: center;
   align-content: center;
   margin:5px;
   width: 200px;
   box-shadow: 0 4px 8px 0 rgba(82, 81, 81, 0.9),
     0 4px 8px 0 rgba(83, 83, 83, 0.9);
} 

.my_col {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: left;
   align-items: flex-start;
   height: 100%;
   min-height: 40vh;
   border-right: 1px solid black;
   border: 1px solid black;
}

.my_form {
   background-color: white;
   margin: 5px;
}

.my_modal {
   display: flex;
   justify-content: center;
   align-content: center;
}

.my_row {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin: 0px important;

}
 
 .quad_format {
   display: flex;
   flex-direction: row;
   width: 100%;
   min-height: 40vh;
   justify-content:  left;
   align-items: flex-start;
   border: 1px solid black;
}

.tier_row {
   display: flex;
   flex-direction: row;
   margin: 0px;
}

.welcome-btn {
   width: 25%;
}  

.status_label {
width: 100px;
margin-left: 100px;
}

.red_status {
   background-color: rgb(255, 2, 2);
   width: 50px;
   height: 30px;
   padding:0px;
   text-align: center;
}

.yellow_status {
   background-color: rgb(251, 255, 2);
   width: 50px;
   height: 30px;
   padding:0px;
   text-align: center;
}

.green_status {
   background-color: rgb(44, 255, 2);
   width: 50px;
   height: 30px;
   padding:0px;
   text-align: center;
}

.blue_status {
   background-color: blue;
   width: 50px;
   height: 30px;
   padding: 0px;
   text-align: center;
}

@media (max-width: 768px){
   .rowstyle {
       display: flex;
       flex-direction: row !important;
   }
}
