.admin-page {

   color: white;
   font-weight: bold;
}

@media (max-width: 768px){
   .rowstyle {
       display: flex;
       flex-direction: row !important;
   }
}
 
.welcome-btn {
   width: 25%;

}  

/* .CUI-card {
   display: flex;
   margin: 0 auto;
   width: 80%;
   padding: 20px;
   border-radius: 5px;
   background-color: rgb(24, 24, 188);
   color: yellow;
   box-shadow: 0px 0px 10px #888888;
   } */