.modal_h {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.my_button {
  background-color: #23262e;
  width: 30px;
  text-align: center;
  align-self: center;
  color: #ffffffbb;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.my_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  --bs-dropdown-bg: #23262e;
  --bs-dropdown-border-color: #23262e;
  --bs-dropdown-link-hover-color: #fff;
}

.nav_link {
  width: auto;
}
