.navbar_custom {
  position: sticky;
  top: 0;
  background: linear-gradient(to top, #23262e 0%, #010102 100%);
  justify-content: space-between;
  align-items: center;
  color: rgb(12, 222, 68);
  z-index: 1000;
  width: 100%;

  --bs-navbar-active-color: rgb(12, 222, 68);
  --bs-navbar-color: rgb(12, 222, 68);
  /* opacity: 0.95; */

  /* box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
   box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
     -12px 0 8px -4px rgba(31, 73, 125, 0.8);
   box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
     12px 0 15px -4px rgba(31, 73, 125, 0.8),
     -12px 0 15px -4px rgba(31, 73, 125, 0.8); */
}

.dropdown-menu {
  --bs-dropdown-bg: #23262e;
  --bs-dropdown-border-color: #23262e;
  --bs-dropdown-link-hover-color: #fff;
}

.nav_link {
  width: auto;
}
