.legend_col {
  font-size: .65rem;
  width: 125px !important;
  padding: 0px !important;
}

.legend_input {
  height: 15px;
  font-size: 10px;
  width: 75px;
  padding: 0px !important;
}

.legend_title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.legend {
  margin-top: 50px;
  z-index: 1000;
  background-color: white;
  width: 150px;
}

.legend_row {
  width: 100%;
  padding: 0px !important;
}

.status_col {
  font-size: .75rem;
}

.red_status {
  background-color: rgb(255, 2, 2);
  position: absolute;
  color: rgb(255, 2, 2);
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  padding: 0px;
  text-align: center;
}

.yellow_status {
  background-color: rgb(251, 255, 2);
  position: absolute;
  color: rgb(251, 255, 2);
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  padding: 0px;
  text-align: center;
}

.green_status {
  background-color: rgb(44, 255, 2);
  position: absolute;
  color: rgb(44, 255, 2);
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  padding: 0px;
  text-align: center;
}